@tailwind base;
@tailwind components;
@tailwind utilities;

html, #__next {
  height: 100%;
}

body {
  @apply p-12;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('https://i.picsum.photos/id/314/1920/1080.jpg?blur=5')
}
